<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{40} \(%F:%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="WARN" />
    <logger name="org.hibernate.util" level="ERROR" />
    <logger name="com.yahoo.elide" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
